{% extends "layout.html" %}
{% block title %}Gestion stock{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'dashbord.css') }}">
{% endblock %}

{% block content%}
<div class="rectangle">
    <h1>
        Gestion stock Quinzaine de la bière Belge

    </h1>
</div>

<h1>Uploader ou télécharger un csv avec les ventes et stocks</h1>
<p>Cette page permet de visuliser le stock et les ventes</p>
<p>Vous pouvez télécharger le stock/ventes au format csv ainsi que uploader un csv pour mettre à jour le stock</p>

<p>{{error_message}}</p>

<h1>Tableau</h1>

<html>
<style>
table, th, td {
  border:1px solid rgb(0, 0, 0);
}
tr:nth-child(even) {background-color:#707bab; color: white;}
</style>
<body>

<h2> </h2>

<table style="width:100%">
  <tr>
    {% for z in colums_name %}
        <th>{{z}}</th>
    {% endfor %}  
  </tr>  
 
  
  {% for x in data %}
    <tr>
        {% for y in x %}
            <td>{{y}}</td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>


</body>
</html>

{%endblock%}