{% extends "layout.html" %}
{% block title %}Gestion des 15n{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'dashbord.css') }}">
{% endblock %}
{% block content%}

<div class="rectangle">
    <h1>
        Gestion 15n Quinzaine de la bière Belge

    </h1>
</div>

<h1>Selectionner 15n ou en créer une</h1>
<p>Pour accéder au graphique concernant le nombres de veaux nés vivants et celui des mort-nés,
  écrivez ou choisissez le nom de famille d'une vache.
  Le graphique sera généré en fonction de ce nom.
</p>

<form method="post" class="form">
    <select name="15n_id" >
        <OPTION selected>Choisissez une Quinzaine
        {% for quinzaine in quinzaines %}
            <OPTION>{{quinzaine}}
        {% endfor %}
    </select>
    <button type="submit">Envoyer</button>
</form>

<p>{{error_message}}</p>
{% endblock %}
