<!DOCTYPE html>
<html lang="fr">

    <!-- Head du HTML -->
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Henri Pihet" >
        
        <!-- Titre de la page Web -->
        <title>
            {% block title%}{% endblock %} - La Quizaine de la bière belge
        </title>

        {% block css%}
                <!-- Le fichier css que vous voulez ajouter dans votre HTML -->
        {% endblock %}

    </head>

    <!-- Corp du site -->
    <body>
        <!--Menu de navigation-->
        <div class="menu-nav">
            <img src="static/15n_moine_87.png">
            <h1>La Quinzaine de la bière belge</h1>
            <a href="/">Dashboard</a> <!-- Page d'acceuil -->
            <a href="/scanner">Scanner</a> <!-- Page d'Alba -->
            <a href="/gestion_carte">Gestion carte</a> <!-- Page d'Arthur -->
            <a href="/gestion_stock">Gestion stock</a> <!-- Page de Julien -->
            <a href="/gestion_15n">Gestion 15n</a> <!-- Page de Jacques -->
         
        </div>

        <div class="menu-num">
            <!--<h1>{{error_message}}</h1>-->
            <a href="/gestion_15n">{{active_15n}}</a>
        </div>

        <!-- corp du site -->
        <section class="top-page" id="content">
            <div class="main-page">
                <p>
                    {%block content%}{%endblock%}
                </p>
            </div>
        </section>

        <!--pied de page-->
        <footer class=" footer">
            <p class="copyright">&copy; 2022 - Maison des sciences</p>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="cgu" target="_blank">Conditions générales d'utilisations</a>
            <p></p>
            <a href="https://github.com/riri-314/Quinzaine" class="cgu" target="_blank">Répertoire du site internet, GitHub</a>
        </footer>

    </body>
</html>